@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
  text-align: justify;
  font-family: "Lato";
  font-size: 15;
}

p{
  font-size:20px;
}


.navbar{background-color: #763d7a !important; /* Esto es para la barra morada horizontal del top  */
        
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



.main-header .logo .logo-lg { /* Esto es para el header con "Observatorio de Cohesion*/
    font-size: 20px;
    font-weight: bold;
    background-color: #497abd !important;
    line-height: 20px;
    height: 60px;
    padding-top: 15px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
}


.main-header .logo { /* Esto es para el header la imagen cuando es colapsado */
    padding: 0px 0px;
}

.skin-blue .main-header .logo { /* Esto es para color del fondo de la imagen */
    background-color: #ecf0f5;
    color: #fff;
    border-bottom: 0 solid transparent;
}


.main-sidebar .sidebar-menu { /* Esta es la barra del top vertical - donde estan los tabs */
  font-family: "Lato";
  font-size:15px;
  color: #E8E018;
  padding-top:20px;
}


h1.title {
  font-size: 60em;
  color: #497abd;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  font-weight: bold;
  font-family:"Lato";
}


p {
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
  font-family:"Lato";
 }

.content {  /* Controlar el espacio en torno al table of contents del home */
    min-height: 250px;
    padding: 0px;
    padding-top:0px !important;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

div.container-fluid {
    padding-top:0px !important; 
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

