{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
{{ if gt (len .Site.Data.testimonials) 0 }}

<section class="bar background-ocs  no-mb text-center">
<hr style="width:100%; height:1px; ", size="10", color=#467FBF>           
   <div class="heading color-white text-center">
      <h2>{{ .Site.Params.testimonials.title }}</h2>
   </div>
   <div class="row">
      <div class="col-md-3">
 
      </div>     
      
      <div class="col-md-2">
         <center>
            <b>Investigador principal</b>
            <br>
            <br>
            <div class="color">
               <div class="image-cropper">
                  <img src="https://ca.slack-edge.com/T010LAFTYQK-U010XQDP40Y-f64e624eab35-512" alt="avatar" class="profile-pic"> 
               </div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: left">
               <i class="fas fa-user"></i> <a href="http://juancarloscastillo.github.io/jc-castillo/" target="_blank" rel="noopener"> Juan Carlos Castillo</a> <br>
               <i class="fas fa-envelope"></i> <a href="mailto:juancastillov@uchile.cl"> juancastillov@uchile.cl</a><br>
               <i class="fab fa-github"></i> <a href="https://github.com/juancarloscastillo" target="_blank" rel="noopener">juancarloscastillo</a><br> 
            </ul>
         </center>
      </div>
      <div class="col-md-2">
         <center>
            <b>Asistente de Investigación</b>        
            <br>
            <br>
            <div class="color">
               <div class="image-cropper"><img src="https://ca.slack-edge.com/T011KJPE10W-U011ZUXMV89-3fb3f3b84109-512" alt="avatar" class="profile-pic"></div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: left">
               <i class="fas fa-user"></i> <a href="https://coes.cl/integrantes/julio-iturra/" target="_blank" rel="noopener"> Julio Iturra</a> <br>
               <i class="fas fa-envelope"></i> <a href="mailto:julioiturrasanhueza@gmail.com"> jciturra@uc.cl</a><br>
               <i class="fab fa-github"></i> <a href="https://github.com/jciturras" target="_blank" rel="noopener">jciturras</a><br>
            </ul>
         </center>
      </div>
      <div class="col-md-2">
          <center>
            <b>Ayudante de investigación</b>   
            <br><br>
            <div class="color">
               <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U011ARE24HM-418d7a7e413d-512" alt="avatar" class="profile-pic"></div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: left">
               <i class="fas fa-user"></i> <a href="https://www.linkedin.com/in/kevin-carrasco-quintanilla/" target="_blank" rel="noopener">Kevin Carrasco</a> <br>          
               <i class="fas fa-envelope"></i> <a href="mailto:kevin.carrasco@ug.uchile.cl"> kevin.carrasco@ug.uchile.cl</a><br>
               <i class="fab fa-github"></i> <a href="https://github.com/Kevin-carrasco" target="_blank" rel="noopener">Kevin-carrasco</a><br>
            </ul>
         </center>         
      </div>
      <div class="col-md-3">
 
      </div>       
   </div>
<hr style="width:100%; height:1px; ", size="10", color=#467FBF>       
</section>

<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
