/* css styles */
.about-link i {
    font-size: 3em; /* Tamaño del ícono */
}


html {
  scroll-behavior: smooth;
} /*Esto para que al hacer click en los links del navbar la página no "salte", sino que se deslice */

/*Backgrounds*/

body {
  background-color: #EDEDED;
}

.light-bg{
  background-color: #ffffff;
}

.logos-bg{
  background-color: #E8E8E8;
}

.dark-bg {
  background-color: #212121;
  color: #ffffff;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/*-- links hover --*/

a:hover {
  color: #2E9CCA;
}
  

/*-- section style --*/

.section-container {
  padding-left: 0em;
  padding-right:  0em;
  padding-top: 1em;
  margin-top: 0em;
  max-width: 100%;
  width: 100vw;
}

.section-block {
  margin: 0.5 auto;
  padding-top: 1.5em;
  padding-bottom: 1.8em;
  box-sizing: border-box;
  max-width: 100%;
  width: 100vw;
}

.post-contents {
	padding-left: 1.5em
	padding-right: 1.5em;
	margin: 1rem;
}



/*margenes y padding*/

#quarto-document-content .column-page{
  padding-top: 0.1em;
  margin-top: 0;
}

#quarto-content {
  padding-top: 0.1em;
  margin-top: 0;
}

/*banner*/

.column-page .title,
.column-body .title{
  color: #ffffff;
}

/*nav bar*/

.active{
  color: #ffffff !important;
  font-weight: 400;
  background-color: #497BBD;
}

.navbar-logo {
  max-height: 75px;
}

.nav-link:hover {
  color: #ffffff;
  font-weight: 400;
  background-color: #497BBD;
}

.bi-github:hover,
.bi-facebook:hover,
.bi-twitter:hover,
.bi-instagram:hover,
.bi-youtube:hover{
  color: #497BBD;
}