/* css styles */
.about-link i {
    font-size: 5em; /* Tamaño del ícono */
    color: white
}


html {
  scroll-behavior: smooth;
} /*Esto para que al hacer click en los links del navbar la página no "salte", sino que se deslice */

/*Backgrounds*/

body {
  background-color: #1f1f1f;
}

.light-bg{
  background: #ffffff;
  color: #000000 !important;
}

.logos-bg{
  background-color: #E8E8E8;
}

.dark-bg {
  background-color: #212121!important;
  color: #ffffff !important;
}

.no-external {
  color: #ffffff !important;
}

.no-external-black {
  color: #000000 !important;
}

/* transiciones*/

.section-footer1 {
   background: linear-gradient(to bottom, #ffffff 0%, #1f1f1f 100%);
   height: 100px;
}

.section-footer2 {
   background: linear-gradient(to bottom, #1f1f1f 0%, #ffffff 100%);
   height: 100px;
}

.section-footer3 {
   background: linear-gradient(to bottom, #1f1f1f 0%, #e8e8e8 100%);
   height: 100px;
}

/*-- links hover --*/

a:hover {
  color: #2E9CCA;
}
  

/*-- section style --*/

.section-container {
  padding-left: 0em;
  padding-right:  0em;
  padding-top: 1em;
  margin-top: 0em;
  max-width: 100%;
  width: 100vw;
}

.section-block {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 1.1em;
  box-sizing: border-box;
}

.post-contents {
	padding-left: 1.5em
	padding-right: 1.5em;
	margin: 1rem;
}

.quarto-about-jolla{
	max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*margenes y padding*/

#quarto-document-content .column-page{
  padding-top: 0.1em;
  margin-top: 0;
}

#quarto-content {
  padding-top: 0.1em;
  margin-top: 0;
}

/*banner*/

.column-page .title,
.column-body .title{
  color: #ffffff;
}

/*nav bar*/

.active{
  color: #ffffff !important;
  font-weight: 400;
  background-color: #497BBD;
}

.navbar-logo {
  max-height: 75px;
}

.nav-link:hover {
  color: #ffffff;
  font-weight: 400;
  background-color: #497BBD;
}


.bi-github:hover,
.bi-facebook:hover,
.bi-twitter:hover,
.bi-instagram:hover,
.bi-youtube:hover{
  color: #497BBD;
}


/* about */

.title{
  color: white;
}

.about-link-text{
  color: white;
  font-size: 16px;
}

.about-link-text:hover {
  color: #2E9CCA;
}


/* tiles */

/* tiles */

  .wrap {
    margin: 20px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1500px;
    background-color: transparent; 
  }

  .tile {
    width: 353px;
    height: 500px;
    background-color: transparent;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: none;
    overflow: hidden;
    color: white;
    font-family: 'Roboto';
  }

  .tile img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
    object-fit: cover;
    filter: none;
    mix-blend-mode: normal;
    border-radious: 50%
  }

  .tile .text {
    position: absolute;
    z-index: 1;
    padding: 30px;
    font-size: 20px;
    height: calc(100% - 60px);
    background: transparent;
  }

  .tile h1 {
    font-weight: 300;
    margin: 0;
    color: #497BBD;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }

  .tile p {
    font-weight: 300;
    margin-top: 20px;
    line-height: 25px;
    transform: translateX(-200px);
    transition: all 0.6s ease-in-out;
    opacity: 0;
    color: #2E9CCA
  }

.tile:hover {
  transform:scale(1.05);
  border-style: solid;
  border-color: #2E9CCA;
  opacity: 1;
}

  .tile:hover img {
    transform:scale(1.05);
    opacity: 1;y
    transform: translateX(0);
  }

  .tile:hover p {
    transform: translateX(0);
    opacity: 1;
  }


    
.banner {
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
  background: transparent;}


