

body{
  text-align: justify;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  }

/**td { font-size: 14px;
	  align: center;

} **/



h1, h2, h3{
  font-family: "Times New Roman", Times, serif;
  padding-top: 55px;
  margin-top: 55px;
  line-height: 2em;
  display:
}

.right {
  text-align: right;
  line-height: 0.25;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #151cbad1;
    border-color: #158cba;
}

div.blue { background-color:#e6f0ff; border-radius: 5px; padding: 20px;}


pre {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 12px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #7b8a8b;
    background-color: #ecf0f1;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

table, td, th {
  border: none;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}



p.caption {
  font-size: 1.0em;
  font-style: bold;
  color: black;
  margin-right: 10%;
  margin-left: 10%;
  text-align: justify;
}
